.about-header{
  color:#333 !important;
  .uk-navbar-nav{
    a{
      color: #333 !important;
    }
  }
  .logo{
    width: 399px;
    height: 72px;
    margin-left: 120px;
    margin-top: 10px;
  }
}
.swiper-container{
  width: 100%;
  height: 400px;
  .swiper-slide{
    img{
      width: 100%;
      height: 400px;
    }
  }
}

.introduced-module{
  background: rgba(0,0,0,1);
  padding: 80px 120px;
}
.team-experts{
  background: #fff;
  text-align: center;
  width: auto;
  max-width: 1200px;
  min-width: 0px;
  height: auto;
  max-height: none;
  min-height: 0px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 35px;
  .experts-info{
    margin-left: 20px;
    margin-right: 20px;
    width: 23.5%;
    .avatar-module{
      text-align: center;
      .avatar{
        border-radius:50%;
      }
    }
  }
}