.about-header{
  color:#333 !important;
}
.about-header .uk-navbar-nav a{
    color: #333 !important;
}

.swiper-container{
  width: 100%;
  height: 400px;
}
.swiper-container .swiper-slide img{
    width: 100%;
    height: 400px;
}
.introduced-module{
  background: rgba(0,0,0,1);
  padding: 80px 120px;
}
.team-experts{
  background: #fff;
  text-align: center;
  width: auto;
  max-width: 1200px;
  min-width: 0px;
  height: auto;
  max-height: none;
  min-height: 0px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 35px;
  display: flex;

}
.team-experts .experts-info{
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 22.5%;
  margin-left: 2%;
  display: inline-block;

}
.team-experts .experts-info .experts-introduced{
  line-height: 24px;
}
.team-experts .experts-info .avatar-module{
  text-align: center;

}
.team-experts .experts-info .avatar-module .avatar{
  width: 165px;
  height: 165px;
  border-radius:50%;
}
.chairman-message{
  background: rgba(0,0,0,1);
  padding: 20px 120px;

}
.chairman-message .content-module{
  margin-top: 20px;
  width: 100%;
  max-width: 1240px;
  display: flex;
}
.chairman-message .content-module .img-module{
  width: 58.53%;
  padding-top: 100px;
}
.chairman-message .content-module .img-module img{
  margin-left: -40px;
}
.chairman-message .content-module .txt-module{
  margin-left: 0px;
  margin-right: 0px;
  width: 41.47%;


}
.chairman-message .content-module .txt-module .slogan{
  background-color: rgba(218,36,28,1);
  padding: 40px;
  color: #fff;
}
.chairman-message .content-module .txt-module .slogan-detail{
  margin-top: 20px;
  width: calc(100% - 80px);
  font-size: 14px;
  color: #fff;
}
.org-style{
  background: #fff;
  padding: 40px 80px;
  text-align: center;


}
.org-style .style-title{
  color: #000;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}
.org-style .style-content{
  width: 100%;
  max-width: 1240px;

}
.org-style .style-content .style-block{
  height: 300px;
  width: 33%;
  display: inline-block;
  margin-bottom: 30px;
  padding: 0 15px;
  overflow: hidden;
}
.org-style .style-content .style-block img{
  height: 300px;
  width: 100%;
}
.honor-modules{
  background: rgba(0,0,0,1);
  padding: 40px 120px;
  text-align: center;

}
.honor-modules .card-module{
  margin-top: 20px;
}
.honor-modules .card-module .card{
  display: inline-block;
  margin-right: 2.2%;
  width: 30%;
}
.card img{

}
.team-left-module{
  background: rgba(179,55,56,1);
  color: #fff;
  margin-top: 20px;
  padding: 40px;
}
.chairman{
  background: #fff url("../images/ceo.jpg") no-repeat;
  background-size:cover;
  width: 100%;
  height: 300px;
}
.room{
  background: #fff url("../images/room.jpg") no-repeat;
  background-size:cover;
  width: 100%;
  height: 220px;
}
.design{
  background: #fff url("../images/11.jpg") no-repeat;
  background-size:cover;
  width: 100%;
  height: 220px;
}
.team-right-module{
  padding: 40px;

}
.team-right-module .title{
  padding-left: 100px;
  color: rgba(179,55,56,1);
  font-weight: bold;
}
.title-team{
  display: inline-block;
  background: rgba(179,55,56,1);
  padding: 8px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
.team-department-bg{
  display: inline-block;
  width: 170px;
  background: rgba(179,55,56,1);
  height: 170px;
  border-radius:50%;
  padding: 10px;
  margin-left: 80px;
  color: rgba(179,55,56,1);
  font-weight: bold;
}
.team-department{
  background: rgba(179,55,56,1) url("../images/shougong.jpg") no-repeat;
  display: inline-block;
  width: 160px;
  border-radius:50%;
  height: 160px;
  background-size: cover;
}
.team-department-bg.right{
  position: relative;
  top: -80px;
}
.pleft-80{
  padding-left: 60px;
}
.core-business{
  color: #fff;
}
.core-business .title{
  font-size: 30px;
  margin: 20px 0;
}