.margins(1);
.margins(@n) when (@n<201) {
    .mtop-@{n} {
        margin-top: (1px * @n);
    }
    .top-@{n} {
        position: relative;
        top: (1px * @n);
    }
    .mbottom-@{n} {
        margin-bottom: (1px * @n);
    }
    .mleft-@{n} {
        margin-left: (1px * @n);
    }
    .mright-@{n} {
        margin-right: (1px * @n);
    }
    .ptop-@{n} {
        padding-top: (1px * @n);
    }
    .pbottom-@{n} {
        padding-bottom: (1px * @n);
    }
    .pleft-@{n} {
        padding-left: (1px * @n);
    }
    .pright-@{n} {
        padding-right: (1px * @n) !important;
    }
    .font-@{n} {
        font-size: (1px * @n);
    }
    .margins(@n+1);
}
.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-1d2 {
    flex: 1.2;
}

.flex-1d5 {
    flex: 1.5;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
.t-left{
    text-align: left;
}
.t-center{
    text-align: center;
}
.t-right{
    text-align: right;
}
.block{
    display: block;
}
.white{
    color: #fff;
}
.black{
    color: #333 !important;
}
.gray{
    color: #999;
}
.default-btn{
    width: 106px;
    height: 64px;
    border: 1px solid rgba(255,255,255,0.3);
    display: inline-block;
    text-align: center;
    line-height: 64px;
    color: #fff;
}
.f-weight{
    font-weight: bold;
}
.content{
    width: 100%;
    max-width: 1240px;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}
.prc-module{
    padding: 40px 20px;
    background: #fff;
    .select-type{
        display: inline-block;
        width: 81.5%;
        margin-left: calc(~"9.25%");
    }
    .prc-content-module{
        max-height: none;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        min-height: 0px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1580px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        min-width: 0px;
        height: auto;
        padding-right: 0px;
        .prc-li{
            width: calc(~"100% / 3 - 10px");
            padding: 10px;
            display: inline-block;
            .prc-img{
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 430px;
                img{
                    height: 100%;
                    width: 100%;
                    transition: all .5s ease;
                }
            }
            .txt-module{
                border: 1px solid #f2f2f2;
                padding: 20px 20px 40px 20px;
                .title{
                    border-bottom: 1px solid #e5e5e5;
                }
                .go-detail{
                    line-height: 40px;
                    display: flex;
                    color: #777;
                }
            }
        }
    }
}
.black-btn{
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.black-btn:hover{
    background-color: rgba(218,36,28,1);
}
.industry-module{
    padding: 20px;
    .industry-cnt{
        width: auto;
        max-width: 1300px;
        min-width: 0px;
        height: auto;
        max-height: none;
        min-height: 0px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        img{
            width: 100%;
            height: 300px;
            transition: all .5s ease;
        }
        .txt-module{
            position: relative;
            top: calc(~"50% - 60px");
            height: 60px;
            left: 60px;
        }
    }
}

