
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.font-24{
    font-size: 24px;
}
.font-26{
    font-size: 26px;
}
.font-28{
    font-size: 28px;
}
.font-30{
    font-size: 30px;
}
.font-32{
    font-size: 32px;
}
.font-34{
    font-size: 34px;
}
.font-36{
    font-size: 36px;
}
.font-38{
    font-size: 38px;
}
.mtop-5{
    margin-top: 5px;
}
.mtop-10{
    margin-top: 10px;
}
.mtop-15{
     margin-top: 15px;
}
.mtop-20{
     margin-top: 20px;
 }
.mtop-30{
    margin-top: 30px;
}
.mtop-40{
    margin-top: 40px;
}
.mtop-50{
    margin-top: 50px;
}
.mtop-80{
    margin-top: 80px;
}
.mleft-5{
    margin-left: 5px;
}
.mleft-10{
    margin-left: 10px;
}
.mleft-15{
    margin-left: 15px;
}
.mleft-20{
    margin-left: 20px;
}
.mleft-65{
    margin-left: 65px;
}
.mleft-120{
    margin-left: 120px;
}
.mbottom-20{
    margin-bottom: 20px;
}
.mright-5{
    margin-right: 5px;
}
.mright-10{
    margin-right: 10px;
}
.mright-15{
    margin-right: 15px;
}
.mright-20{
    margin-right: 20px;
}
.pleft-20{
    padding-left: 20px;
}
.pleft-30{
    padding-left: 30px;
}
.pleft-40{
    padding-left: 40px;
}
.ptop-20{
    padding-top: 20px;
}
.ptop-40{
    padding-top: 40px;
}
.pbottom-20{
    padding-bottom: 20px;
}
.pbottom-40{
    padding-bottom: 40px;
}
.pright-20{
    padding-right: 20px;
}
.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-1d2 {
    flex: 1.2;
}

.flex-1d5 {
    flex: 1.5;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
.t-left{
    text-align: left;
}
.t-center{
    text-align: center;
}
.t-right{
    text-align: right;
}
.block{
    display: block;
    width: 100%;
}
.white{
    color: #fff;
}
.black{
    color: #333 !important;
}
.gray{
    color: #999;
}
.default-btn{
    width: 106px;
    height: 64px;
    border: 1px solid rgba(255,255,255,0.3);
    display: inline-block;
    text-align: center;
    line-height: 64px;
    color: #fff;
}
.f-weight{
    font-weight: bold;
}
.content{
    width: 100%;
    max-width: 1240px;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}
.prc-module{
    padding: 40px 20px;
    background: #fff;

}
.prc-module .select-type{
    display: inline-block;
    width: 81.5%;
    margin-left: 9.25%;
}
.prc-module  .prc-content-module{
    max-height: none;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    min-height: 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1580px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    min-width: 0px;
    height: auto;
    padding-right: 0px;

}
.prc-module  .prc-content-module .prc-li{
    width: calc(100% / 3 - 10px);
    padding: 10px;
    display: inline-block;
}
.prc-module  .prc-content-module .prc-li .prc-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 430px;

}
.prc-module  .prc-content-module .prc-li .prc-img img{
    height: 100%;
    width: 100%;
    transition: all .5s ease;
}
.prc-module  .prc-content-module .prc-li .txt-module{
    border: 1px solid #f2f2f2;
    padding: 20px 20px 40px 20px;

}
.prc-module  .prc-content-module .prc-li .txt-module .title{
    border-bottom: 1px solid #e5e5e5;
}
.prc-module  .prc-content-module .prc-li .txt-module .go-detail{
    line-height: 40px;
    display: flex;
    color: #777;
}
.black-btn{
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.black-btn:hover{
    background-color: rgba(218,36,28,1);
}
.industry-module{
    padding: 20px;

}
.industry-module .industry-cnt{
    width: auto;
    max-width: 1300px;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

}
.industry-module .industry-cnt img{
    width: 100%;
    height: 300px;
    transition: all .5s ease;
}
.industry-module .industry-cnt .txt-module{
    position: relative;
    top: calc(50% - 60px);
    height: 60px;
    left: 60px;
}
.industry-module .industry-cnt .quality-module{

}
.news-module{
    padding:40px 20px;
}
.logo{
    width: 280px;
    margin-left: 120px;
    margin-top: 10px;
}
.news-module .news-content{
    max-height: none;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    min-height: 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    min-width: 0px;
    height: auto;
    padding-right: 0px;

}
.mtop-140{
    margin-top: 140px;
}
.news-module .news-content .news-li{
    display: flex;
}
.news-module .news-content .news-li .title{
    font-size: 1.125rem;
    color: #6aa84f;
}
.news-module .news-content .news-li .title:after{
    content: '';
    position: relative;
    //top: 50%;
    top: -16px;
    transform: translateY(-50%);
    left: -10px;
    display: block;
    width: 16px;
    height: 16px;
    border: 4px solid #6aa84f;
    border-radius: 15px;
}
.news-module .news-content .news-li .txt{
    padding: 0 20px;
    line-height: 1.8;
    font-size: .875rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2px;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    border-left: 2px solid rgba(67,67,67,.75);
}
.news-module .select-type{
    display: inline-block;
    width: 81.5%;
    margin-left: 9.25%;
}
.bottom-module{
    background:rgba(39,39,39,1);
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.map{
    width: 100%;
    height: 400px;
    margin-bottom: 200px;
}
