.head {
    height: 86px;
    line-height: 86px;
    background: #30333b;
    position: relative;
    margin-bottom: 20px;
    z-index: 10000000
}

.head * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.head_ul {
    font-size: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 203px
}

.head_ul li {
    height: 86px;
    position: relative
}

.head_ul li a {
    color: #afb0b2;
    text-decoration: none;
    font-size: 16px;
    display: block
}

.head_ul>li:not(:last-child) {
    border-right: 1px solid #3b3e43
}

.head_menu {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 0;
    text-indent: 35%;
    max-width: 180px
}

.head_seMenu {
    position: absolute;
    top: 86px;
    background: rgba(41, 44, 50, .99);
    text-indent: 0;
    display: none;
    white-space: nowrap;
    min-width: 100%
}

.head_seMenu li {
    margin: 0 25px
}

.head_seMenu li:hover>a {
    color: #fff
}

.head_seMenu li.head_seMenuCur a {
    color: #c0985d
}

li.head_menu:hover,
li.head_userDiv:hover {
    background: #292c32
}

li.head_menu:hover ul.head_seMenu,
li.head_userDiv:hover ul.head_seMenu {
    display: block
}

li.head_menu.cur {
    background: #292c32
}

li.head_menu.cur>a {
    color: #c0985d
}

.head_userDiv {
    display: inline-block;
    padding-right: 23px;
    background: url(../img/header/jt.png) 100% no-repeat;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    position: relative
}

.head_userDiv .head_seMenu {
    right: -10px
}

.head_userNameLi {
    width: 203px;
    position: absolute;
    right: 0;
    top: 0
}

.head_userDiv:hover .head_seMenu {
    display: block
}

.head_seMenu li a {
    color: #afb0b2;
    text-decoration: none
}

.head_logo {
    width: 127px;
    text-indent: 25px;
    background: url(../img/header/logo.jpg) no-repeat;
    background-size:128px 86px;
}

li.head_logo a {
    display: block;
    width: 100%;
    height: 100%
}

.head_logoImg,
.head_userImg {
    display: inline-block;
    vertical-align: middle
}

.head_userImg {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 29px;
    height: 29px
}

.head_userName {
    font-size: 12px;
    color: #aeaeb0;
    vertical-align: middle;
    margin: 0 10px
}

.head_jsc:before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    background: url(../img/header/jscBg.png) 0 0 no-repeat;
    top: 50%;
    margin-top: -11px;
    left: 12%
}

.head_jsc.cur:before {
    content: "";
    background: url(../img/header/jscBg.png) left -25px no-repeat
}

.head_tzyj:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(../img/header/tzyjBg.png) 0 0 no-repeat;
    top: 50%;
    margin-top: -13px;
    left: 12%
}

.head_tzyj.cur:before {
    content: "";
    background: url(../img/header/tzyjBg.png) left -27px no-repeat
}

.head_cpgl:before {
    content: "";
    position: absolute;
    width: 28px;
    height: 23px;
    background: url(../img/header/cpglBg.png) 0 0 no-repeat;
    top: 50%;
    margin-top: -11px;
    left: 12%
}

.head_cpgl.cur:before {
    content: "";
    background: url(../img/header/cpglBg.png) left -25px no-repeat
}

.head_fkgl:before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    background: url(../img/header/fkglBg.png) 0 0 no-repeat;
    top: 50%;
    margin-top: -11px;
    left: 12%
}

.head_fkgl.cur:before {
    content: "";
    background: url(../img/header/fkglBg.png) left -25px no-repeat
}

.head_bbzx:before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    background: url(../img/header/bbzxBg.png) 0 0 no-repeat;
    top: 50%;
    margin-top: -11px;
    left: 12%
}

.head_bbzx.cur:before {
    content: "";
    background: url(../img/header/bbzxBg.png) left -25px no-repeat
}

.head_zbsz:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 23px;
    background: url(../img/header/zbszBg.png) 0 0 no-repeat;
    top: 50%;
    margin-top: -11px;
    left: 12%
}

.head_zbsz.cur:before {
    content: "";
    background: url(../img/header/zbszBg.png) left -25px no-repeat
}

.head_shgl:before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    background: url(../img/header/shglBg.png) 0 0 no-repeat;
    top: 50%;
    margin-top: -11px;
    left: 12%
}

.head_shgl.cur:before {
    content: "";
    background: url(../img/header/shglBg.png) left -25px no-repeat
}

.head_click .head_seMenu {
    display: block
}

.head_seMenu {
    padding: 15px 0 30px 11px
}

.head_seMenu li {
    line-height: 28px;
    height: 28px
}

.head_seMenu li a {
    font-size: 14px
}

.head_ul li:nth-child(n+8) .head_threeMenu {
    right: 100%
}

.head_threeMenu {
    position: absolute;
    background: #2b2e34;
    top: 0;
    display: none;
    padding: 20px 26px 27px 0;
    text-indent: 22px;
    margin-left: 100%
}

.head_seMenu li .head_threeMenu li {
    border-right: none
}

.head_seMenu li:hover .head_threeMenu {
    display: block
}

li.cur>a {
    color: #c0985d
}

@media screen and (max-width:1543px) {

    .head_seMenu li a {
        font-size: 12px
    }
}

@media screen and (max-width:1434px) {
    .head_seMenu {
        width: 100%
    }

    .head_seMenu li {
        margin: 0 15px 0 0;
        width: 100%
    }
    .head_seMenu li a {
        width: 100%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis
    }
}

@media screen and (max-width:1260px) {
    .head_ul li.head_menu {
        text-align: center
    }

    .head_seMenu li {
        text-align: left
    }
}

@media screen and (max-width:1188px) {
    .head_ul li a {
        font-size: 14px
    }

    li.head_seMenu {
        width: 100%
    }
}